:root {
    box-sizing: border-box;
    margin: 0;
    font-family: Roboto, Arial, Courier;

    /* Colors */
    --color-header: #092672;
    --color-header-text: silver;
    --color-subheader: #3c59a5;
    --color-subheader-text: #ffcc03;

    --color-normal-type: #a8a878;
    --color-fire-type: #f08030;
    --color-water-type: #6890f0;
    --color-grass-type: #78c850;
    --color-flying-type: #a890f0;
}

body {
    background-color: #ddd;
}

header {
    background-color: var(--color-header);
    color: var(--color-header-text);
    font-family: Courier, monospace;
}

.subheader {
    background-color: var(--color-subheader);
    color: var(--color-subheader-text);
}

ul.pokemon-list {
    padding: 0;
    list-style: none;
}

.pokemonTile {
    background-color: #efefef;
    width: 300px;
    margin: 0 0 10px;
    padding: 12px;
}

.pokemonTile:active{
    background-color: cyan;
    transform: translateY(4px);
}

.normal {
    border: 1px solid var(--color-normal-type);
}

.fire {
    border: 1px solid var(--color-fire-type);
}

.water {
    border: 1px solid var(--color-water-type);
}

.grass {
    border: 1px solid var(--color-grass-type);
}

.flying {
    border: 1px solid var(--color-flying-type);
}

.flex-column {
    display: flex;
    flex-flow: column;
}

.flex-row {
    display: flex;
    flex-flow: row;
}

.center {
    justify-content: center;
    text-align: center;
}

.marg0 {
    margin: 0;
}

.pad5 {
    padding: 5px;
}

.pad10 {
    padding: 10px;
}