:root {
    box-sizing: border-box;
    margin: 0;
    font-family: Roboto, Arial, Courier;

    /* Colors */
    --color-header: #a93800;
    --color-subheader: #edd878;
}

body {
    background-color: #eed;
}

header {
    background-color: var(--color-header);
    color: #fff;
    font-family: Courier, monospace;
}

.pokemonTile {
    background-color: palegoldenrod;
    border: 1px solid #222;
    border-radius: 3px;
    margin: 5px 20px 25px 20px;
    padding: 12px;
    box-shadow: 2px 2px #999;
}

.subheader {
    background-color: var(--color-subheader);
}

.flex-column {
    display: flex;
    flex-flow: column;
}

.flex-row {
    display: flex;
    flex-flow: row;
}

.center {
    justify-content: center;
    align-items: center;
    text-align: center;
}

.marg0 {
    margin: 0;
}

.pad5 {
    padding: 5px;
}

.pad10 {
    padding: 10px;
}